.banner{
    background-color: #00838F;
    padding: 5px;
    color: white;
    font-size: 130%;
    text-align: center;
}
.left{
    background-color: #EFEFEF;
}
.right{
    background-color: #4FB3BF;
    height: 450px;
    text-align: center;
}
.leftright{
    display: grid;
    grid-template-columns: 55% 45%;
}
.feet{
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}